<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 create-user">
      <button class="btn btn-success btn-lg" (click)="createUser(content)">
          <fa-icon [icon]="['fas', 'plus-circle']"
          size="lg"
          [styles]="{'color': 'white', 'cursor' : 'pointer'}"></fa-icon>
          Create User</button>
    </div>
  </div>
  <div>
      <div>
          <mat-form-field class="w-100">
              <input
                    matInput
                    autofocus
                    type="search"
                    placeholder="Search..."
                    (keyup)="findUserDetails(searchUser)"
                    [(ngModel)]="searchUser">
            </mat-form-field>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="bg-dark w-100 text-white user-details">
          <h4>User Details
          </h4>
      </div>
      <table class="table table-hover table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Friends</th>
              <th scope="col">Age</th>
              <th scope="col">Weight</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of (userProfileList | async); let userIdex = index">
              <th scope="row">{{user.name}}</th>
              <td>{{user.friends | friendsFilter}}</td>
              <td>{{user.age}}</td>
              <td>{{user.weight}}</td>
              <td>
                <a class="cursor-pointer link-align" (click)="navigateToUserDetails(user.userId)">View</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12 bg-dark w-100 text-white user-details">
            <h4>Basic D3 Chart: Name vs Age</h4>
        </div>
        <div class="col-sm-12" style="margin-bottom: 20px;">
            <app-user-profile-chart></app-user-profile-chart>
        </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #createUser="ngForm">
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field class="w-100">
              <input
                    matInput
                    autofocus
                    placeholder="Name"
                    name="userName"
                    #userName="ngModel"
                    ngModel
                    required>
              <mat-error>
                  Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngFor="let friend of friendsList; let friendIndex = index;">
          <div class="col-sm-10">
            <mat-form-field class="w-100">
              <input matInput
                    placeholder="Friends Name"
                    name="friends_{{friendIndex}}"
                    #friends_{{friendIndex}}="ngModel"
                    ngModel
                    required>
                <mat-error>
                    Friends Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-2 add-new-icon">
            <fa-icon [icon]="['fas', 'plus-circle']"
                    [hidden]="friendIndex > 0"
                    size="2x"
                    (click)="addNewFriends()"
                    [styles]="{'color': 'green', 'cursor' : 'pointer'}"></fa-icon>
            <fa-icon [icon]="['fas', 'minus-circle']"
                    [hidden]="friendIndex == 0"
                    size="2x"
                    (click)="removeFriends(friendIndex)"
                    [styles]="{'color': 'red', 'cursor' : 'pointer'}"></fa-icon>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field class="w-100">
              <input matInput
                    placeholder="Age"
                    type="number"
                    name="age"
                    #age="ngModel"
                    ngModel
                    required>
              <mat-error>
                  Age is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field class="w-100">
              <input matInput
                    placeholder="Weight"
                    type="number"
                    name="weight"
                    #weight="ngModel"
                    ngModel
                    required>
              <mat-error>
                  Weight is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-light"
            (click)="modal.dismiss('Close click')">Close
    </button>
    <button type="button"
            class="btn btn-primary"
            [disabled]="!createUser.valid"
            (click)="modal.close(createUser)">Create
    </button>
  </div>
</ng-template>
