.add-new-icon {
    margin-top: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.link-align {
  color: blue !important;
  text-decoration: underline !important;
}

.create-user {
    margin-bottom: 5px;
}

.user-details {
    margin-bottom: -9px;
    padding: 7px;
}