<div class="card">
  <h5 class="card-header text-center">{{userDetails.name}}</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6 text-center">
          <img class="user-image-align" src="assets/user_icon.png">
      </div>
      <div class="col-sm-6">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>Friends</td>
              <td>{{userDetails.friends}}</td>
            </tr>
            <tr>
              <td>Age</td>
              <td>{{userDetails.age}}</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>{{userDetails.weight}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
</div>