<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-info text-center text-white">
  <h3>
    Welcome to {{ title }}!
  </h3>
</div>

<div class="continer-fluid">
    <router-outlet></router-outlet>
</div>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Large modal</button>

<div class="footer fixed-bottom text-center bg-secondary text-white">
  George Assignment @ 2019
</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>